:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white: #ffffff;
  --logo: #f4f4fd;
  --button: #404bbf;
}

body {
  background: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.address {
  font-style: normal;
}

.link:hover,
.link:focus {
  color: var(--button);
}

/* .link { */
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-link {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.first-word {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

/* Site nav */

.sait-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.sait-nav .link:hover,
.sait-nav .link:focus {
  color: var(--accent-color);
}

.mail:hover,
.mail:focus {
  color: var(--button);
}

.mail {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.tel {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-pr {
  font-size: 16px;
  line-height: 1.5;
}

.section {
  letter-spacing: 0.02em;
}

.About-company link {
  line-height: 1.5;
}

.list-img {
  background-color: var(--white);
}

.section-doing {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Hero */
.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/*button */
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--button);
}
.button {
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
}

.hero {
  background-color: var(--title-text-color);
}

.section-team {
  background-color: var(--logo);
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--title-text-color);
}

.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--logo);
}

.logog-footer link {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-span link {
  color: var(--logo);
}

.button-portfolio {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background-color: var(--button);
}
