:root {
  --color-primary-text: #434455;
  --color-title-text: #2e2f42;
  --color-accent: #4d5ae5;
  --color-white: #ffffff;
  --color-logo: #f4f4fd;
  --color-button: #404bbf;
  --color-dgs: #f4f4fd;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
}
body {
  background: var(--color-white);
  color: var(--color-primary-text);
  font-family: Roboto, sans-serif;
}
/* Container */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-button);
}

.header-link {
  color: var(--color-title-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.studio-logo {
  color: var(--color-title-text);
}

.address {
  font-style: normal;
}

.header-first {
  color: var(--color-title-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.logo-header {
  color: var(--color-accent);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.first-word {
  color: var(--color-accent);
  font-family: Raleway, cursive;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

/* Site nav */

.sait-nav .link {
  color: var(--color-title-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.sait-nav .link:hover,
.sait-nav .link:focus {
  color: var(--color-accent);
}

.mail:hover,
.mail:focus {
  color: var(--color-button);
}

.mail {
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin-right: 40px;
}

.tel {
  color: var(--color-primary-text);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.list-pr {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 8px;
  justify-content: center;
  margin-bottom: 8px;
}

.section {
  letter-spacing: 0.02em;
}

.about {
  line-height: 1.5;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-title-text);
}

.list-img {
  background-color: var(--color-white);
}

.section-doing {
  color: var(--color-title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Hero */
.hero-title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/*button */
.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--color-button);
}
.button {
  color: var(--color-white);
  background-color: var(--color-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
}

.hero {
  background-color: var(--color-title-text);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  padding: 188px 0;
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.section-team {
  background-color: var(--color-logo);
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer {
  background-color: var(--color-title-text);
}

.logo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-logo);
  margin-top: 16px;
}

.logog-footer {
  color: var(--color-accent);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: ;
}

.logo-span-studio {
  color: var(--color-logo);
}

.button-portfolio {
  color: var(--color-accent);
  background-color: var(--color-dgs);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: inherit;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--color-white);
  background-color: var(--color-button);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.main-head {
  display: flex;
  color: var(--color-title-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-img {
  display: block;
}
.main-img:hover,
.main-img:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.main-p {
  color: var(--color-primary-text);
  line-height: 1.5;
}
/* address */
.address-list {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 24px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
}

.hero-bt {
  padding: 16px 32px 16px 32px;
  margin-top: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}
.about-company {
  display: flex;
  gap: 24px;
}
.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.wedo-container {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  justify-content: center;
}
.section-wedo {
  padding-bottom: 120px;
}
.list-conteiner {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
}

.card-conteiner {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px;
  padding-top: 32px;
}
.our-container {
  display: flex;
  justify-content: center;
}
.ft-container {
  padding-bottom: 100px;
  padding-top: 100px;
}

.button-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.port-canteiner {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.port-canteiner:hover,
.port-canteiner:focus {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.header-pf {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.section-bt {
  padding-top: 96px;
  padding-bottom: 120px;
}
.about-hh {
  margin-bottom: 8px;
}

.thumb {
  background: #f4f4fd;
  border-radius: 4px;
  gap: 24px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.ourteam-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.ourteam-soc-item {
  width: 40px;
  height: 40px;
}
.ourteam-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;
}
.section-customers {
  color: var(--color-title-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 120px;
}
.ourteam-soc-link:hover,
.ourteam-soc-link:focus {
  background-color: var(--color-button);
}
.customers-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
}
.customers-soc-item {
  width: 168px;
  height: 88px;
}
.customers-soc-icon {
  color: currentColor;
}

.customers-soc-link:hover > .customers-soc-icon {
  fill: #404bbf;
  border-color: #404bbf;
}

.customers-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #4d5ae5;
  align-items: center;
  justify-content: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}
.footer-soc-icon {
  fill: #ffffff;
}
.ft-cont-flx {
  display: flex;
  gap: 120px;
}
